body {
  font-family: Arial, sans-serif;
  background-position: fixed;
  position: relative;
  background-color: #dfdfdf;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

.card {
  background-color: #ffffff;
  padding: 20px;
  margin: 50px auto;
  max-width: 600px;
  border-radius: 20px;
  backdrop-filter: blur(15px);
}

h2 {
  margin-top: 0;
  opacity: 200%;
}

ul {
  list-style-type: none;
  padding: 0;
  opacity: 200%;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input[type="text"], input[type="number"] {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
}

input[type="button"] {
  padding: 10px;
  background-color: #4CAF50;
  color: #1f9ae4;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

input[type="button"]:hover {
  background-color: #3e8e41;
}
